body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
}

.container {
  padding: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.template-options button,
.controls button {
  font-size: 24px;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  color: #333;
  transition: 0.3s;
}

.template-options button:hover,
.controls button:hover {
  background: #ffcc00;
}

video {
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  margin: 20px 0;
}

.controls {
  margin-top: 20px;
  font-size: 20px;
}

.mirror-toggle button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.mirror-toggle button:hover {
  background: #45a049;
}


.controls select,
.controls input {
  font-size: 18px;
  margin-left: 10px;
}
